# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ----------------------------
# Virtual Environment
# ----------------------------
venv/
.env

# ----------------------------
# OS / Editor
# ----------------------------
.vscode/
.idea/
.DS_Store
Thumbs.db

# ----------------------------
# Logs
# ----------------------------
*.log

# ----------------------------
# Outputs (optional)
# ----------------------------
# Uncomment if you don't want to push outputs
# outputs/
